
.storeys {
  display: block;
  overflow: hidden;
  z-index: 0;
}

.storeys::before {
  display: block;
  position: absolute;
  content: '';
  width: 100%; height: 100%;
  background-color: rgba(127, 127, 127, 0.25);
  z-index: 100;
  -webkit-user-drag: none;
  overflow: hidden;
}

.storeys.unlocked::before {
  background-color: rgba(0, 0, 0, 0.8);
}

.storeys::after {
  display: block; position: absolute;
  font-family: "Helvetica Neue Light", "Lucida Grande", "Calibri", "Arial", sans-serif;
  font-size: 14px;
  content: 'Loading...';
  top: 50%; left: 50%;
  margin-top: -50px; margin-left: -50px;
  width: 100px; height: 100px; line-height: 100px;
  border-radius: 10px;
  z-index: 200;
  text-align: center;
  background-color: rgba(127, 127, 127, 0.7);
  opacity: 0.9;
  color: white;
  -webkit-user-drag: none;
}
