[submodule "submodules/requirejs"]
	path = submodules/requirejs
	url = https://github.com/jrburke/requirejs.git
	branch = master
[submodule "submodules/zousan"]
	path = submodules/zousan
	url = https://github.com/storeys/zousan.git
	branch = master
[submodule "submodules/nunjucks"]
	path = submodules/nunjucks
	url = https://github.com/storeys/nunjucks.git
[submodule "submodules/xregexp"]
	path = submodules/xregexp
	url = https://github.com/storeys/xregexp.git
